.git
.gitignore
.gitattributes
.editorconfig
node_modules
npm-debug.log
*.md
.env
.env.backup
.env.example
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
phpunit.xml
*.sh
!docker-entrypoint.sh
